{{outlet}}

<table>
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Weight</th>
      <th>Dimensions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.flightControllers as |part|}}
      <tr>
        <td><small>{{part.part.manufacturer}}</small><br>{{part.part.partNumber}}</td>
        <td>{{part.part.weight}}</td>
        <td>{{part.dimensions}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Weight</th>
      <th>Battery</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.motors as |part|}}
      <tr>
        <td><small>{{part.part.manufacturer}}</small><br>{{part.part.partNumber}}</td>
        <td>{{part.part.weight}}</td>
        <td>{{part.battery}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
