<div id='bom'>
  Test
  {{outlet}}
</div>

<BsTab as |tab|>
  <tab.pane @title="Flight Controllers">

    <table>
      <thead>
        <tr>
          <th>Part Number</th>
          <th>Weight</th>
          <th>Dimensions</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.flightControllers as |fc|}}
          <tr>
            <td>
              {{fc.part.partNumber}} <small>{{fc.part.manufacturer}}</small>
              <br><PartListings @partListings={{fc.part.partListings}} @example="Something"/>
            </td>
            <td>{{fc.part.weight}}</td>
            <td>{{fc.dimensions}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </tab.pane>

  <tab.pane @title="Motors">

    <table>
      <thead>
        <tr>
          <th>Part Number</th>
          <th>Weight</th>
          <th>Battery</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.motors as |part|}}
          <tr>
            <td>
              {{part.part.partNumber}} <small>{{part.part.manufacturer}}</small>
              <br><PartListings @partListings={{part.part.partListings}} @example="Something"/>
            </td>
            <td>{{part.part.weight}}</td>
            <td>{{part.battery}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </tab.pane>
</BsTab>
